
.header {
  font-size:25px;
  background-color: white;
  top: 0px;
  height: 60px;
  border-bottom: 1px solid rgb(94, 99, 94);;
  margin-bottom: 5px;
}
.rooms {
  padding: 1px;
  border: 1px solid rgb(94, 99, 94);;
}

.onlineStatus{
  padding: 1px;
  border: 1px solid rgb(94, 99, 94);;
}

.footer {
  position: fixed;
  bottom: 20px;
  background-color: white;
  height: 60px;
  text-align: center;
}
.input {
  font-size: 30px;
  margin: 2px;
  width: 90% !important;

}

.messages .list-group{
  height: 700px;
  border: 1px solid rgb(94, 99, 94);;
  overflow: auto;
}
.messageCard {
  margin: 2px;
}

.active {
  font-weight: bold;
  text-decoration: underline;
  font-size:20px
}
.online{
  color:green
}
.cardHeader{
  font-weight: bold;
  font-size:25px;
  background-color: rgb(94, 99, 94);
  color:white
}